{% extends "_onecol.html" %}

{% block title %}Events{% endblock %}

{% block body %}
<h2>Events</h2>
<h3>International Workshop on Software Health (SoHeal)</h3>

<p>
   The 1st International Workshop on Software Health (<b>SoHeal 2018</b>) will be co-located with the 40th International Conference on Software Engineering (<a href="https://www.icse2018.org/" target="_blank"><b>ICSE 2018</b></a>) in Gothenburg in Sweden.
   (<a href="https://soheal.github.io/">Link</a>)
</p>

<p>
  <b>SoHeal</b> aims to enable and promote collaboration between academia and industry, unifying the views on software health of researchers and practitioners. The workshop's goals are to: (1) raise awareness of practitioners' problems with software health; (2) familiarize practitioners with the progress made by academia; and (3) connect the two communities to further advance the body of knowledge and state of the practice on software health.
</p>

<h4>Organizing Committee</h4>

<ul>
  <li>Bram Adams, Polytechnique Montreal, Canada</li>
  <li>Eleni Constantinou, University of Mons, Belgium</li>
  <li>Tom Mens, University of Mons, Belgium</li>
  <li>Gregorio Robles, Universidad Rey Juan Carlos, Spain</li>
</ul>

<p><a href="https://www.slideshare.net/tommens/soheal-2018-welcome-slides-first-international-workshop-on-software-health/tommens/soheal-2018-welcome-slides-first-international-workshop-on-software-health">Welcome Slides</a></p>
{% endblock %}
