{% extends "_twocols.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h2>Welcome to <span class="brand-blue">SECO</span><span class="brand-red">Health</span> website!</h2>
<p>
  The FNRS-FRQ Québec-Wallonie collaborative research project SECOHealth “Towards an interdisciplinary, socio-technical methodology and analysis of the health of software ecosystems” involves research teams of Polytechnique Montreal (Canada), the University of Mons (Belgium) and Laval University (Canada), supported by collaborators at Toulouse University (France) and Politecnico di Milano (Italy).
</p>

<p>
  SECOHealth aims to understand and control the health of software ecosystems, where software ecosystems are interpreted as ecological ecosystems comprised of a population of living organisms (software projects and their communities of contributors). The goal is to (1) define a conceptual model of ecosystem health, then (2) determine health indicators capable of measuring the different aspects of such health, as well as determine events that affect the health of ecosystems; and (3) empirically validate these health indicators and events.
</p>  

<h3>Latest News</h3>

{% set news = load_yaml('news.yaml') %}
{% for item in (news|sort(reverse=True, attribute='date'))[:5] %}
<h4>{{ item.title }} <span class="small">{{ item.date.strftime('%A, %B %d, %Y') }}</span></h4>
<p>
  {{ item.summary }}
  {% if item.content %}
    <span style="white-space: nowrap;">&mdash; <a href="{{ "news.html"|relative }}#n{{ news|length - loop.index }}">read more</a></span> 
  {% endif %}
</p>
{% endfor %}

{% endblock %}

{% block sidebar %}
<h2>Latest Tweets</h2>
<a class="twitter-timeline" data-width="100%" data-height="32em" data-chrome="noheader nofooter transparent" href="https://twitter.com/secohealth">Tweets by secohealth</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
{% endblock %}
