{% extends "_onecol.html" %}

{% block title %}Members{% endblock %}

{% block body %}
<h2>Members</h2>

<h3>Principal Investigators</h3>

<div class="row">
  <div class="col-md-4">
    <div class="clearfix"></div>
    <h4>Bram Adams, Polytechnique Montreal</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/BramAdams.png"|relative }}" />
    <p>
      Bram Adams is associate professor at Polytechnique Montreal (Quebec, Canada), where he heads the lab on Maintenance, Construction and Intelligence of Software (MCIS). He is fascinated by any problems related to release engineering and mining software repositories, with a particular interest in build systems, software integration and human affect mining. In the context of SECOHealth, Bram's lab aims to build a dashboard for monitoring the health of a software ecosystem from a wide variety of software development-related data sources.
    </p>
    <p>
      (<a href="http://mcis.polymtl.ca/">website</a>)
    </p>
  </div>
  <div class="col-md-4">
    <div class="clearfix"></div>
    <h4>Tom Mens, University of Mons</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/TomMens.png"|relative }}" />
    <p>
      Tom Mens is full professor at the University of Mons (Belgium), director of the Software Engineering Lab since 2003, and vice-president of the UMONS research institute INFORTECH. His most recent scientific contributions focus on foundations, automation and empirical analysis of large-scale evolving software ecosystems. He also co-edited the Springer books “Software Evolution” (in 2008) and “Evolving Software Systems” (in 2014). He was previously involved in an interdisciplinary research project ECOS aiming to borrow techniques from ecology and natural ecosystems to better study, understand and support the evolution of software ecosystems.
    </p>
    <p>
      (<a href="http://informatique.umons.ac.be/perso/Mens.Tom/">website</a>)
    </p>
  </div>
  <div class="col-md-4">
    <div class="clearfix"></div>
    <h4>Josianne Marsan, Laval University</h4>
    <img class="pull-left member-picture" src="{{ "assets/pictures/JosianneMarsan.png"|relative }}" />
    <p>
      Josianne Marsan is associate professor in Information Systems at the Faculty of Business Administration at Université Laval and associate fellow researcher of Research Chair in Digital Health at HEC Montréal. She holds a BSc in Computer science & Operational research, and a MSc and PhD in Business Administration with a focus on Information Systems. Her interests lie in OSS communities and ecosystems, as well as in the organizational lifecycle of information technology innovations, including their adoption, implementation, use and evolution. She has practical experience on designing, developing and implementing a homegrown ERP system based on open source programming languages in a medium-size company in Canada. In the context of SECOHealth, she is mainly responsible for gathering and analyzing experts' opinions about challenges for health and survival of software ecosystems.
    </p>
    <p>
      (<a href="http://www4.fsa.ulaval.ca/enseignants/josianne-marsan/">website</a>)
    </p>
  </div>
</div>
<div class="clearfix"></div>

<hr />
<h3>Scientific Coordinator</h3>
<div class="row text-center">
  <div class="col-md-3">
    <h4>Dr. Eleni Constantinou,<br /> University of Mons</h4>
    <img class="member-picture" src="{{ "assets/pictures/EleniConstantinou.png"|relative }}" />
      <br />
      (<a href="http://www.econst.eu/">website</a>)
  </div>
</div>

<hr />
<h3>Project Members</h3>
<div class="row text-center">
  <div class="col-md-3">
    <h4>Dr. Alexandre Decan,<br /> University of Mons</h4>
    <img class="member-picture" src="{{ "assets/pictures/AlexandreDecan.png"|relative }}" />
    <br />
    (<a href="http://decan.lexpage.net/">website</a>)
  </div>
  <div class="col-md-3">
    <h4>Georgia Leïda Mopenza,<br /> Laval University</h4>
    <img class="member-picture" src="{{ "assets/pictures/GeorgiaMopenza.png"|relative }}" />
  </div>
  <div class="col-md-3">
    <h4>Patrick Marois,<br /> Laval University</h4>
    <img class="member-picture" src="{{ "assets/pictures/PatrickMarois.png"|relative }}" />
  </div>
  <div class="col-md-3">
    <h4>Armstrong Foundjem,<br /> Polytechnique Montreal</h4>
    <img class="member-picture" src="{{ "assets/pictures/armstrong.png"|relative }}" />
    <br />
    (<a href="http://foundjem.info">website</a>)
  </div>
  <div class="col-md-3">
    <h4>Aimé  Noutsa,<br /> Laval University</h4>
    <img class="member-picture" src="{{ "assets/pictures/AIME_CEAC.jpg"|relative }}" />
    <br />
  </div>
</div>
<div class="clearfix"></div>

<hr />
<h3>Collaborators</h3>
<div class="row text-center">
  <div class="col-md-3">
    <h4>Kevin Carillo,<br /> Toulouse University</h4>
    <img class="member-picture" src="{{ "assets/pictures/KevinCarillo.png"|relative }}" />
    <br />
    (<a href="http://www.tbs-education.fr/en/faculty-research/faculty/resident-and-affiliated-faculty-members/carillo-kevin">website</a>)
  </div>
  <div class="col-md-3">
    <h4>Damian Tamburri,<br /> Politecnico di Milano</h4>
    <img class="member-picture" src="{{ "assets/pictures/DamianTamburri.png"|relative }}" />
    <br />
    (<a href="https://scholar.google.ca/citations?user=l7BGAq8AAAAJ&hl=en">website</a>)
  </div>
  <div class="col-md-3">
    <h4>Gregorio Robles,<br /> Universidad Rey Juan Carlos</h4>
    <img class="member-picture" src="{{ "assets/pictures/robles.png"|relative }}" />
    <br />
    (<a href="http://gsyc.urjc.es/~grex">website</a>)
  </div>
</div>

<hr />
<h3>Affiliated Groups</h3>
<div class="row text-center">
  <div class="col-md-3">
    <h4>CHAOSS Metrics Committee</h4>
    <img class="member-logo" src="{{ "assets/logo/chaoss.png"|relative }}" />
    <br />
    (<a href="https://chaoss.community/">website</a>)
  </div>
  <div class="col-md-3">
    <h4>Bitergia</h4>
    <img class="member-logo" src="{{ "assets/logo/bitergia.png"|relative }}" />
    <br />
    (<a href="https://bitergia.com/">website</a>)
  </div>
</div>
<div class="clearfix"></div>

{% endblock %}
