{% extends "_onecol.html" %}

{% block title %}Project Summary{% endblock %}

{% block body %}
<h2>Project Summary</h2>

<p>
  Software ecosystems (SECOs) are large collections of interdependent software projects that share a common technological platform and that are maintained by large online communities of contributors. Commercial SECOs such as Android, Eclipse, Linux, or iOS pervade every aspect of human life, and the functioning of our modern digitally-enabled society would be severly impacted if such SECOs would start degrading or even cease to exist. Yet, SECOs are subject to changes at an ever-increasing pace, and there is no central management overseeingthe ecosytem's health and longevity. Morevoer, existing means for supporting ecosystem maintainers are largely insufficient. The objective of this project is therefore to understand and assist the health dynamics of SECOs.
</p>

<p>
  This project will contribute to research and practice by delivering interdisciplinary scientific methodology and a catalog of guidelines and recommendation tools for improving SECO health. Those will enable key SECO actors in Quebec, Belgium and elsewhere to better monitor and control SECO health and equip them with corrective and preventive measures to ensure their SECO's survival and sustainability.
</p>

<p>
  Slideshare presentation by Bram Adams about SECOHealth project:
</p>

<div class="text-center">
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/lkCd843SXWxgdT" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
</div>

{% endblock %}
