<div class="clear-fix"></div>
<footer>
  <div class="container-fluid">
  	<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">
          
          <div class="text-center pull-right">
            <a href="https://www.facebook.com/secohealth/"> <i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://www.linkedin.com/groups/12055771/profile"> <i class="fa fa-fw fa-linkedin"></i></a>
            <a href="https://twitter.com/secohealth"> <i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://github.com/secohealth"> <i class="fa fa-fw fa-github"></i></a>
            <a href="mailto:secohealth@gmail.com"> <i class="fa fa-fw fa-envelope"></i></a>
          </div>
          <div class="text-center">
            <span class="fa fa-copyright"></span> 2017 | <span class="brand-blue">SECO</span><span class="brand-red">Health</span> project partners
          </div>
        </div>
      </div>
  	</div>
  </div>
</footer>
