<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ "./"|relative }}">
            <img class="hidden-xs hidden-sm" src="{{ "assets/logo/secohealth.png"|relative }}" />
            <span class="hidden-md hidden-lg"><span class="brand-blue">SECO</span><span class="brand-red">Health</span></span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li{% if page == 'index.html' %} class="active"{% endif %}><a href="/">Home</a></li>
            {% for text, url in [
                ('Overview', 'overview.html'),
                ('Members', 'members.html'),
                ('Events', 'events.html'), 
                ('Results', 'results.html'),
              ] -%}
              <li{% if page == url %} class="active"{% endif %}><a href="{{ url|relative }}">{{ text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
